- set_meta_tags title: "#{@category} 変更"
- breadcrumb    :myauction_categories_edit, @category

= form_for @category, url: "/myauction/categories/#{params[:id]}", html: { method: :patch, class: 'form-horizontal' } do |f|
  = render "form", f: f
