/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-sass
 * require devise_bootstrap_views
 *= require bootstrap-fileinput
 * require_tree .
 *= require_self
 */
// $icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
// @import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$main-color: #edc9ff;
$heavy-color: #707;

.breadcrumb > li + li:before {
  content: "> ";
}

a:hover img {
  opacity: 0.6;
}
/// header ///
header {}

.navbar {
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding: 0 15px;
  background: #FFF;

  img {
    height: 50px;
  }
}

.navbar-text {
  display: inline-block;
  margin-left: 8px;

  &.logout {
    color: $heavy-color;
  }

  &.login {
    color: #333;
  }
}
/// キーワード検索 ///
.search-area .input-group {
  width: 100%;
}

.header-menu {
  text-align: right;
  line-height: 32px;

  a {
    display: inline-block;
    padding: 0 4px;
    color: inherit;
  }

  .glyphicon {
    font-size: 20px;
  }
}

.search-bottons {
  margin: 8px 0;
}

.btn-search-save {
  width: 144px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.search-title {
  background: $main-color;
  padding: 6px 12px;
  margin-bottom: 8px;

  .count {
    margin-left: 16px;
    font-weight: bold;
  }
}

.searches-title {
  margin: 0;
  font-size: 23px;
  color: #5937ff;
  margin-bottom: 8px;
}

.banner-area {
  img {
    margin-top: 4px;
    max-width: 100%;
  }
}
/// footer ///
footer {
  margin-top: 48px;
  margin-bottom: 32px;
  text-align: center;
}
/// ボタン ///
.btn-content {
  margin-left: 4px;
}

.btn {
  &.btn-square {
    width: 92px;
    height: 69px;
    text-align: center;
    padding: 11px 0;
    font-size: 12px;
    color: #2B8B04;
    border-radius: 0;
    display: inline-block;
    // margin: 4px 4px 4px 0;
    vertical-align: top;

    &.btn-danger {
      color: #d9534f;
      background-color: #FFF;
      border-color: #ccc;
    }

    span.glyphicon {
      display: block;
      font-size: 28px;
      vertical-align: middle;
      margin-bottom: 5px;
    }

    &.btn-twoline {
      padding: 6px 0;
      line-height: 1.1;
    }

    .btn-content {
      margin-left: 0;
    }
  }

  &.btn-submit {
    display: block;
    margin: auto;
  }
}
/// 共通レイアウト ///
.main-container {
  margin: 0 8px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

label.required:after {
  content: "必須";
  color: #D00;
  vertical-align: top;
  font-size: 80%;
  font-weight: normal;
  margin-left: 10px;
}

.product-title {
  font-size: 25px;
  // background: $main-color;
  padding: 6px;
  margin-top: 0;
  border-bottom: 2px solid $main-color;
}

.product-table {
  tr.img {
    width: 160px;
  }

  td.img {
    width: 160px;
    height: 120px;

    img {
      max-width: 160px;
      max-height: 120px;
    }
  }

  tr.img_mini {
    width: 100px;
  }

  td.img_mini {
    width: 100px;
    height: 75px;
    text-align: center;

    img {
      max-width: 100px;
      max-height: 75px;
    }
  }
}

.form-group,
table.form-table {
  input.short,
  select.short {
    width: 200px;
  }

  textarea {
    height: 120px;

    &.description {
      height: 300px;
    }
  }
}

table {
  td.price {
    width: 94px;
    text-align: right;

    .max_price,
    .prompt_dicision_price {
      font-size: 18px;
    }
  }

  tr.sub_head th {
    text-align: center;
  }

  th.price {
    width: 94px;
    text-align: right;
  }

  td.total_price {
    width: 120px;
    text-align: right;
  }

  th.total_price {
    width: 120px;
    text-align: right;
  }

  td.num {
    width: 55px;
    text-align: right;
  }

  th.num {
    width: 55px;
    text-align: right;
  }

  &.product-table thead  th {
    padding: 5px 1px;
    font-size: 12.2px;
    line-break: anywhere;
  }

  th.name,
  td.name {
    width: 200px;
    line-break: anywhere;
  }

  .lower-label {
    color: #999;
    font-size: 80%;
    font-weight: normal;
    white-space: nowrap;
    position: absolute;
  }

  td.sns {
    width: 86px;

    a {
      color: #FFF;
      background: #A00;
      border-radius: 4px;
      padding: 2px;
      margin-bottom: 1px;
      width: 86px;
      display: block;
      text-align: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }

      &.facebook-button {
        background: #4266b2;
      }

      &.twitter-button {
        background: #1ea1f2;
      }

      &.line-button {
        background: #03b833;
      }
    }
  }

  th.sns {
    width: 90px;
  }

  td.sepa,
  th.sepa {
    border-right: 1px solid #ddd;
  }

  td.sep2,
  th.sep2 {
    border-right: 3px double #ddd;
  }
}

.default-black {
  color: #333;
}

.watch-star {
  color: #DD0;
}

.follow-heart {
  color: #D00;
}

.search-pushpin {
  color: #5937ff;
}

.alert-bell {
  color: #ffd700;
}

.check-icon {
  color: #000080;
}

.new-icon {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-shadow:#ffd700 1px 1px 0, #ffd700 -1px -1px 0,
  /*右下、左上*/
  #ffd700 -1px 1px 0, #ffd700 1px -1px 0,
  /*右上、左下*/
  #ffd700 0px 1px 0, #ffd700 0-1px 0,
  /*右、左*/
  #ffd700 -1px 0 0, #ffd700 1px 0 0;
  /*上、下*/
  margin: 0 4px;

  &:before {
    content: "NEW!";
  }
}

.fileinput-upload-button {
  display: none;
}

.form_img {
  display: inline-block;
  margin: 4px 16px;
}
/// トップページ ///
label.top-search {
  background: $main-color;
  padding: 0 8px;
}

.topsearch-area {
  margin-bottom: 4px;
  a {
    display: inline-block;
    margin-left: 4px;
  }
}

.toppage-searches {
  .search-panel {
    width: 32%;
    height: auto;
    margin: 0 1% 1% 0;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    border-radius: 0;
    padding: 0;
    a {
      display: block;
      padding: 0;

      &:hover {
        background: #FFFFE0;
        text-decoration: none;
      }
    }

    .img {
      position: relative;

      .pos {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: auto;
      }
    }

    .name {
      text-align: left;
      font-size: 16px;
      padding: 2px;
      color: #333;
    }
  }
}

.toppage-contents {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 198px;
  padding: 8px;

  .toppage-scroll {
    white-space: nowrap;
    display: inline-block;
  }
  @media (max-width: 767px) {
    height: 180px;
    padding: 4px;
  }
}

.products_area {
  margin-left: -6px;
  margin-right: -6px;
}

.thumbnail.product-pannel_02 {
    width: 200px;
    height: 200px;
    margin: 0;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border-radius: 0;
    border: 0;
    position: relative;
    /* border: 1px solid #EEE; */
    margin: 0 6px 6px 0;

    a.product_link {
      display: block;
      padding: 4px;
      border: 1px solid #FFF;
      width: 100%;
      height: 100%;

      &:hover {
        background: #FFFFE0;
        text-decoration: none;
        border: 1px solid #cc64ff;

        img {
          opacity: 1;
        }

      }
    }

    .thumb_img {
      width: 100%;
      height: 120px;
      background: #EEE;

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
      }
    }

    img {
      // max-width: 132px;
      // max-height: 98px;
      // max-width: 160px;
      // max-height: 120px;
    }

    .name {
      height: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: absolute;
      top: 128px;
      width: 190px;
    }

    .price {
      color: #333;
      position: absolute;
      top: 146px;
      width: 190px;

      &:hover {
        color: #333;
      }
    }

    .finish_price {
      position: absolute;
      top: 170px;
      width: 190px;
    }

    .max_price_label,
    .bid_label,
    .end_label {
      color: #333;
      font-size: 11px;
    }

    .prompt_dicision_price_label {
      font-size: 14px;
      padding: 1px 8px;
      background: #3b3;
      color: white;
    }

    .max_price {
      font-size: 17px;
      margin-left: 4px;
    }

    .success_label {
      position: absolute;
      top: 98px;
      right: 8px;
    }

    .bids {
      position: absolute;
      top: 170px;
      width: 190px;
    }

    .success_date {
      top: 150px;
      position: absolute;
      margin: 0;
    }

    .bid {
      margin-left: 4px;
      color: #333;
      margin-right: 8px;
    }

    .success_price {
      margin-left: 4px;
      color: #333;
    }

    .end {
      margin-left: 4px;
      color: #333;

    }

    a.btn-watch {
      position: absolute;
      top: 78px;
      right: 8px;
      width: 40px;
      height: 40px;

      .watch-star {
        color: #DD0;
        font-size: 20px;
        position: absolute;
        top: 3px;
        left: 10px;
      }

      .btn-content {
        margin: 0;
        position: absolute;
        top: 24px;
        left: 2px;
        font-size: 11px;
        letter-spacing: -3px;
      }
    }

    .state {
      position: absolute;
      top: 8px;
      left: 8px;
      margin: 0;
    }
}

.thumbnail.product-pannel {
  width: 172px;
  height: 172px;
  margin: 0;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 0;
  border: 0;
  position: relative;

  a {
    display: block;
    padding: 4px;
    border: 1px solid #FFF;
    width: 100%;
    height: 100%;

    &:hover {
      background: #FFFFE0;
      text-decoration: none;
      border: 1px solid #cc64ff;

      img {
        opacity: 1;
      }

    }

    .state {
      position: absolute;
      top: 8px;
      left: 8px;
      margin: 0;
    }
  }

  img {
    // max-width: 132px;
    // max-height: 98px;
    max-width: 160px;
    max-height: 120px;
    background: #EEE;

  }

  .name {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 24px;
    width: 170px;
  }

  .price {
    color: #333;
    position: absolute;
    bottom: 0;

    &:hover {
      color: #333;
    }
  }

  .max_price_label,
  .bid_label,
  .end_label {
    color: #333;
    font-size: 11px;
  }

  .success_date {
    color: #833c14;
  }

  .prompt_dicision_price_label {
    font-size: 14px;
    padding: 1px 8px;
    background: #3b3;
    color: white;
  }


  .max_price {
    font-size: 18px;
    margin-left: 3px;
  }
}
/// search ///
.header-image {
  margin-bottom: 4px;

  img {
    margin: auto;
    display: block;
    width: 100%;
  }
}

.form-inline .filter-price {
  width: 90%;
}
/// detail ///
#product-carousel {
  .item img {
    margin: auto;
  }
}

.carousel-select {
  margin: 6.5px -1.5px;

  a img {
    margin: 1.5px;
    @media (max-width: 767px) {
      width: 31%;
      margin: 1%;
    }
  }
}

.product-dl,
.trade-dl {
  @media (max-width: 767px) {
    margin-bottom: 0;

    dt {
      margin-top: 8px;

      &.dt-first {
        margin-top: 0;
      }
    }
  }
  @media (min-width: 767px) {
    &.product-dl-border {
      border-left: 1px dotted #AAA;
    }
    width: 50%;
    padding: 4px;
    float: left;
    margin: 0;

    dt {
      width: 110px;
      margin-top: 0;
      margin-bottom: 4px;
    }

    dd {
      margin-left: 130px;
    }
  }
}

.trade-dl {
  width: 100%;

  &.product {
    dt {
      width: 50%;
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      float: left;
    }

    dd {
      width: 50%;
      text-align: right;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 50%;
    }
  }
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 8px;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.trade {
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 12px;
  padding-bottom: 2px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);

  &.mine {
    background: #CFC;
    margin-right: 12px;
  }

  &.res {
    background: #cff;
    margin-left: 12px;
  }

  &.other {
    background: #ededec;
    margin-left: 12px;
  }
}

.trade_time {
  margin-left: 24px;
}

.trade.res::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 15px;
  top: 32px;
  border-right: 12px solid #cff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}


.trade.other::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 15px;
  top: 32px;
  border-right: 12px solid #ededec;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.trade.mine::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: 15px;
  top: 32px;
  border-left: 12px solid #CFC;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}


.detail-company-area {
  div {
    line-height: 2;
  }
}

.watches-count-area {
  margin: 4px 0 0 0;
}

.detail-price-area {
  background-color: #ededec;
  margin-top: -15px;

  &.bid-area {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}

.detail-price-message {
  margin: 16px 64px;
}

.remaining-date {
  background: #ededec;
  width: 360px;
  margin: 8px auto 16px auto;
  padding: 10px 0;
  font-size: 25px;
  text-align: center;
}

.alertinfo {
  color: #D00;
}

hr.detail-price-calc {
  margin: 8px 0;
  border-top: 1px dashed #BBB;
}

.detail-hashtags a {
  display: inline-block;
  background: #EEE;
  margin: 0 8px 8px 0;
  padding: 4px;
}

.product-description {
  background: $main-color;
  padding: 4px 8px;
  margin: 16px 0 4px;
}

.product-caution {
  color: #D00;
  margin-left: 15px;
  font-size: 15px;
}

.sns-area {
  a {
    color: #FFF;
    background: #A00;
    border-radius: 4px;
    padding: 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 90px;
    display: inline-block;
    text-align: center;

    img {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    &.facebook-button {
      background: #4266b2;
    }

    &.twitter-button {
      background: #1ea1f2;
    }

    &.line-button {
      background: #03b833;
    }
  }
}

.twitter-area {
  border: 1px solid #DDD;
}

.alert-message {
  background: #f2dede;
  padding: 4px 8px;
  margin: 8px;
}

.success-message {
  background: #dff0d8;
  padding: 4px 8px;
  margin: 8px;
}

.success_date {
  margin-bottom: 8px;
  color: #833c14;
}

.success_label {
  color: #833c14;
  border: 1px solid #833c14;
  background: #ff9;
  border-radius: 4px;
  width: 50px;
  text-align: center;
  margin: auto 0 auto auto;
}

.success_message {
    background-color: #ff9;
    border-color: #833c14;
    color: #833c14;
    font-size: 120%;
    padding: 8px 20px;
}

.bid-message {
  background: #FFF;
  padding: 8px;
  margin: 8px;
  border: 1px solid #DDD;

  p {
    padding: 4px 8px;
    margin: 8px;
  }
}

.additional-label {
  font-size: 23px;
  color: #dc143c;
  margin-top: 23px;
}

.additional {
  color: #dc143c;
}
/// 会社情報 ///
.company-table {
  th {
    width: 132px;
  }
}
/// markdown(ヘルプ・お知らせ) ///
.markdown-area {
  margin: 12px 12px 32px;
  font-weight: normal;

  p {
    margin-bottom: 16px;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: bold;
    border: 1px solid $heavy-color;
    border-width: 0 0 1px 8px;
    line-height: 1.4;
    font-weight: normal;

    padding: 0 8px;
  }

  h5, h6 {
    color: #707;
    border-width: 0 0 0 12px;
  }

  b,
  strong {
    font-size: 19px;
    color: #D00;
  }

  em {
    font-size: 16px;
    color: #20aa20;
  }

  li {
    margin-bottom: 4px;
  }

  table {
    td,
    th {
      width: auto;
      border: 1px solid #ddd;
      background: #FFF;
      padding: 3px;
    }

    th {
      background: #FF6600;
      color: #FFF;
    }

    tr:nth-child(even) td {
      background: #FFCC66;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 4px auto 32px auto;
    border: 1px solid #A3A392;
  }
}
/// マイ・オークション ///
.follow-button-area {
  margin-top: 32px;
}

.nav-pills.nav-stacked {
  hr {
    margin: 4px 0;
  }
}
/// 取引 ///
.trade-product {
  margin-top: 0;
}

.trade-left {
  dl {
    margin-bottom: 0;
  }
}

.trade-button-area {
  margin: 16px 0 0;
  padding-left: -4px;
  text-align: right;

  .btn {
    margin: 4px 0 0 4px;
  }
}

.company-button-area {
  margin: 0 0 16px 0;
  padding-left: -4px;
  text-align: right;

  .btn {
    margin: 4px 0 0 4px;
  }
}

// .trade-user {
//   dt {
//     width: 90px;
//     text-align: right;
//     margin-bottom: 3px;
//   }
//
//   dd {
//     margin-left: 110px;
//   }
//
//   th {
//     width: 120px;
//     text-align: left;
//   }
// }
// .trade-product {
//   dt {
//     width: 100px;
//     text-align: left;
//   }
//
//   dd {
//     margin-left: 120px;
//     text-align: right;
//   }
// }

.star-good {
  color: #fcbc01;
}

.star-bad {
  color: #4da6ff;
}

.star {
  color: #f9c934;
}

td.absolute {
  position: relative;

  .td-under {
    position: absolute;
    bottom: 5px;

    &.right {
      right: 5px;
    }
  }
}

.inner-title {
  color: #777;
  margin-right: 8px;
}

dl.star-dl {
  dt {
    text-align: left;
    width: 120px;
  }

  dd {
    margin-left: 128px;
  }
}

.filtering-form {
  margin-bottom: 8px;

  h4,
  input,
  select,
  button {
    margin-right: 4px;
  }

  h4 {
    display: inline-block;
  }
}
/// system ///
.system-log {
  padding: 3px 6px;

  &:nth-child(even) {
    background: #EEE;
  }

  &:nth-child(odd) {}
}

.max_price {
  color: #E50;
  font-weight: normal;
}

.prompt_dicision_price {
  font-weight: normal;
}

a.accordion-toggle {
  color: inherit;
  display: block;
  text-decoration: none;
  position: relative;

  & > span.glyphicon-chevron-down {
    display: block;
    position: absolute;
    top: 17px;
    right: 4px;
  }

  &.collapsed > span.glyphicon-chevron-down:before {
    content: "\e080";
  }
}

.button-center {
  margin: 6px auto;
  text-align: center;

  .btn {
    margin: 3px;
    width: 400px;
  }

  &.text-left {
    text-align: left;
  }
}

.watches_count {
  font-size: 19px;
  margin: 0 2px;
  color: #E05;
}

.state {
  font-size: 14px;
  display: inline-block;
  padding: 0 4px;
  margin-left: 8px;
  line-height: 1.4;

  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;

  &.state_50 {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
  }

  &.state_100 {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
  }
}

body.ads_body {
  // border: 1px solid #cc64ff;
  overflow: hidden;
}

a.ads_logo {
  display: block;

  img {
    height: 50px;
    margin-left: 16px;
  }

  .site {
    position: absolute;
    bottom: 8px;
    left: 310px;
    overflow: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .desc {
    position: absolute;
    color: #333;
    bottom: 8px;
    bottom: 32px;
    left: 310px;
    overflow: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

iframe.machinelife_ads {
  display: block;
  margin: 16px auto;
  width: 878px;
  height: 230px;
  border: none;
  overflow: hidden;
  background: #FFF;
}

@media (max-width: 991px) {
  iframe.machinelife_ads {
    width: 350px;
    height: 574px;
  }
}

.btn-lg.center-block {
  margin: 24px auto 12px;
}

/// 検索結果 : 並び順 ///
.sort_select {
  margin: 0 8px 0 4px;
  display: inline-block;
  width: auto;
}

.pagination {
  margin: 8px 0;
}

.help-logo {
  display: inline-block;

  img {
    border: 0;
    margin: 8px;
    width: 360px;
  }
}

ul.help-list {
  li {
    margin: 0 0 10px;
    list-style: none;
  }
}

.prompt_dicision_h4 {
  background: #3b3;
  color: white;
  padding: 4px 0;
  width: 100px;
  text-align: center;
}

a.e-kikai_sticker {
  border: 3px double #009c0c;
  background: #e9fee7;
  margin: 8px 0;
  text-decoration: none;
  width: 394px;
  display: block;

  .sticker_img {
    display: inline-block;
    vertical-align: top;
  }

  .sticker_name {
    font-size: 21px;
    color: #005f07;
    display: inline-block;
    line-height: 61px;
    font-weight: bold;
    vertical-align: top;
    width: 222px;
    text-align: center;
  }
}

.bid-banner-area {
  .search-panel {
    border:0;
    padding:0;
    max-width:300px;
  }
}

#youtubeModal {
  .modal-body {
    padding: 0;

    iframe {
      width: 100%;
      height: 480px;
    }
  }
}

tr.gold {
  td {
    background: gold;
  }
}

tr.silver {
  td {
    background: silver;
  }
}

tr.bronze {
  td {
    background: #c79657;
  }
}

.contact-button-area {
  margin-top: 16px;
  text-align: center;
}

.color-black {
  color: #333;
}

.mobile-products-list {
  border-top: 1px solid #999;
}

.mobile-product {
  padding: 8px;
  border-bottom: 1px solid #999;
}

.thumbnail.product-pannel_02 {
  .watch_02 {
    position: absolute;
    right: 12px;
    bottom: 72px;
    background: rgba(255, 255, 255, 0.75);
    padding: 4px;
  }

  .nitamono {
    position: absolute;
    right: 12px;
    bottom: 108px;
    background: rgba(255, 255, 255, 0.75);
    padding: 4px;

  }
}

.tooltip {
  position: absolute;
}

.watch-star {
  color: #FF0;
  -webkit-text-stroke: #333 1px;
}

.watch_02 {
  display: block;
  width: 36px;
  height: 36px;
  margin: auto;
  text-align: center;

  .glyphicon-star {
    font-size: 28px;
    color: #CCC;
    -webkit-text-stroke: #333 1px;
    // text-shadow: #FFF 1px 1px 1px;
  }

  &.active .glyphicon-star {
    color: #FF0;
    text-shadow: #FF0 0px 0px 8px;

  }
}

.nitamono {
  display: block;
  width: 36px;
  height: 36px;
  margin: auto;
  text-align: center;

  .glyphicon-camera {
    font-size: 28px;
    color: #111;
    // text-shadow: #FFF 1px 1px 1px;
  }
}

.nitamono_target {
  top: 0;
  left: 64px;
  height: 122px;
  width: 122px;
  border: 1px solid whitesmoke;
  display: block;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
  }

}

.nitamono-title {
  margin-top: 96px;

  .btn-content {
    margin-left: 168px;
  }
}

/// @ohashi 20200807 ///
.navbar {
    border-top: 10px solid #248b00;
}
.navbar-default {
    background-color: #fff !important;
}
.main-container.container-fluid {
    background-color: whitesmoke;
    margin: 0;
    padding-top: 15px;
}
.navbar {
    margin-bottom: 6px;
    padding-top: 15px;
}
.input-group .form-control {
    border: 2px solid #258a01;
}
.input-group .btn {
    border: 2px solid #258a01 !important;
    padding: 5px 12px;
    background-color: #dff0d8;
}
.panel-heading {
    line-height: 1.5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-warning>.panel-heading {
    color: #fff;
    background-color: #258a01;
    border-color: #258a01;
}
.panel-warning {
    border-color: #258a01 !important;
    font-size: 12px;
}
.panel {
    border: 3px solid lightgrey;
}
.panel-success {
    border-color: #258a01;
    font-size: 12px;
}
a.accordion-toggle>span.glyphicon-chevron-down {
    top: 13px;
}
.list-group-item {
    padding: 10px;
}
.toppage-searches {
    margin-bottom: 1em;
    display: flex;
}
.toppage-searches .search-panel {
    width: 32%;
    margin-right: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.toppage-searches .search-panel:nth-of-type(3n) {
    margin-right: 0;
}
.toppage-searches .search-panel .name {
    font-size: 13px;
    line-height: 1.35em;
    padding: 5px;
}
.col-md-7 .panel.panel-default {
    border-color: #258a01;
}
.col-md-7 label {
    margin-bottom: 1.4em;
    width: auto;
    margin: 0 auto 1.4em auto;
    display: table;
}
.toppage-searches .search-panel .img img {
    -webkit-border-radius: 5px 5px 0 0 / 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0 / 5px 5px 0 0;
    border-radius: 5px 5px 0 0 / 5px 5px 0 0;
}
.toppage-searches .search-panel .img {
    background-color: #e7e7e7;
}
.toppage-searches .search-panel a {
    display: inline;
}
.col-md-3 #collapse_help p {
    font-size: 12px;
}
.thumbnail.product-pannel .name {
    font-size: 13px;
    bottom: 20px;
}
.thumbnail.product-pannel .max_price {
    font-size: 15px;
    font-weight: 700;
    color: #cb5201;
}
.row:last-child {
    padding-bottom: 1.5em;
}
footer {
    margin-bottom: 48px;
}
.glyphicon-log-in:before {
    font-size: 16px;
}
.glyphicon-thumbs-up:before {
    font-size: 16px;
}
.banner-area img {
    min-width: 100%;
}
.table-striped>tbody>tr:nth-child(even) {
    background-color: #fff;
}
.product-table td.img {
    text-align: center;
}
.table-hover>tbody>tr:hover {
    background-color: #f5f5f5 !important;
}
.col-md-5.trade-left {
    width: 39%;
}
.col-md-5.trade-left .col-md-5.col-sm-5 {
    width: 39%;
}
.col-md-5.trade-left .col-md-5.col-sm-5 img {
    width: 100%;
}
.col-md-5.trade-left .row {
    margin-bottom: 1em;
}
.product-title {
    border-bottom: 3px dotted #258a01;
    padding-bottom: 10px;
    margin-bottom: 2rem;
}
.product-title .glyphicon {
    color: #258a01;
    top: 4px;
}
.markdown-area .h1, .markdown-area .h2, .markdown-area .h3, .markdown-area .h4, .markdown-area .h5, .markdown-area .h6, .markdown-area h1, .markdown-area h2, .markdown-area h3, .markdown-area h4, .markdown-area h5, .markdown-area h6 {
    padding: 0 8px;
    border: 0;
    padding: 1rem 2rem;
    border-left: 5px solid #268902;
    background: #f4f4f4;
}
.markdown-area ol {
    padding: 0;
    margin-bottom: 12px;
}
.markdown-area ol li {
    list-style-position: outside;
    margin-left: 1.2em;
}

.thumbnail.product-pannel_02 {
    height: 260px;
    text-align: center;
}
.thumbnail.product-pannel_02 a.product_link {
    padding: 0;
    border: none;
    border: 1px solid whitesmoke;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.thumbnail.product-pannel_02 a.product_link:hover {
    background: #fff;
    border: 1px solid #258a01;
}
.thumbnail.product-pannel_02 .thumb_img {
    position: relative;
    height: auto;
}
.thumbnail.product-pannel_02 .thumb_img:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.thumbnail.product-pannel_02 .thumb_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: unset !important;
    max-height: unset !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
.thumbnail.product-pannel_02 .name {
    bottom: 4rem;
    top: unset;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
    line-height: 2rem;
}
.thumbnail.product-pannel_02 .price, .thumbnail.product-pannel_02 .finish_price {
    bottom: 2rem;
    top: unset;
    text-align: center;
    width: 90%;
    margin: 0 5%;
}
.thumbnail.product-pannel_02 .price span.max_price_label {
    font-size: 1rem !important;
    line-height: 20px;
}
.thumbnail.product-pannel_02 .price span.max_price, .thumbnail.product-pannel_02 .success_price {
    font-size: 1.5rem;
    line-height: 20px;
}
.thumbnail.product-pannel_02 .bids, .thumbnail.product-pannel_02 .success_date {
    width: 90%;
    margin: 0 5%;
    bottom: 0;
    top: unset;
    padding-bottom: 0.3rem;
    line-height: 20px;
    font-size: 1.2rem;
}
.thumbnail.product-pannel_02 a.btn-watch, .thumbnail.product-pannel_02 .success_label {
    top: unset;
    bottom: 68px;
}
.thumbnail.product-pannel_02 a.btn-watch .btn-content {
    left: 4px;
    font-size: 0.8rem;
}
.state.state_100, .thumbnail.product-pannel_02 .state {
    background-color: #eb5505;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.thumbnail.product-pannel_02 .success_label {
    background-color: red;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.thumbnail.product-pannel_02 .end {
    font-weight: 700;
}
span.state {
    background-color: #31708f;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
span.state.state_50 {
    background-color: #3c763d;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.success_label {
    background-color: red;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.search-title {
    background-color: #258a01;
    color: #fff;
    width: 100%;
    display: inline-block;
}
ui#footer_banners {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    border-top: 1px solid #dddddd;
    padding: 2.5em 0;
    text-align: center;
}
ui#footer_banners li {
    list-style-type: none;
    margin: 0 1% 0 0;
    padding: 0;
    width: 19.2%;
    display: inline-block;
    max-width: 190px;
}
ui#footer_banners li:last-child {
    margin-right: 0;
}
ui#footer_banners li img {
    width: 100%;
}
.toppage-news-area {
    margin-bottom: 5rem;
}
.toppage-news-area label.topppage-category-title {
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    font-size: 25px;
    border-bottom: 2px dotted #258a01;
}
.btn-more {
    background-color: whitesmoke;
    color: #333;
    border: none;
    position: relative;
    padding: 1rem 0 0 0.8rem !important;
}
a.btn.btn-more:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 3px transparent solid;
    border-right-width: 0;
    border-left-color: #333333;
    position: absolute;
    top: 1.2em;
    left: 0;
}
a.btn.btn-more {
    float: right;
    margin-right: 1rem;
}
.btn-more:hover {
    color: #333;
    background-color: whitesmoke;
    opacity: 0.5;
}
.twitter-area {
    width: 100%;
    padding: 2rem 0;
    display: inline-block;
    text-align: center;
    border: none !important;
}
.twitter-area iframe#twitter-widget-0 {
    max-width: 300px !important;
}
.sns-area {
    width: 100%;
    display: inline-block;
    margin-bottom: 1.5em;
}
.sns-area a {
    width: 49.5%;
    font-size: 0.8rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 1% 2px 0;
}
.sns-area a:nth-child(2n) {
    margin-right: 0;
}
.mobile-product {
    width: 100%;
    display: inline-block;
}
.mobile-product .name {
    font-size: 1.8rem;
    line-height: 2.2rem;
}
.mobile-product .name, .mobile-product .category {
    margin-bottom: 1rem;
}
.mobile-product .max_price {
    font-size: 1.8rem;
}

.watch_area .glyphicon-camera:before {
    font-size: 70%;
}
.watch_area .glyphicon-star:before {
    font-size: 70%;
}
.thumbnail.product-pannel_02 .nitamono {
    border-radius: 5px;
    padding: 0;
    bottom: 110px;
}
.thumbnail.product-pannel_02 .watch_02 {
    border-radius: 5px;
    padding: 0;
}
.nitamono_target img {
    border: 5px solid #268902;
}
.nitamono_target img:hover {
    opacity: 1.0;
}
.product-description {
    background-color: #d3d3d3;
    font-size: 110%;
    padding: 0.5em;
}
.panel.panel-default {
    border-color: #258a01;
}
.thumbnail.product-pannel {
    height: 172px;
    text-align: center;
}
.toppage-contents {
    height: 240px;
}
.thumbnail.product-pannel {
    height: 212px;
    text-align: center;
}
.thumbnail.product-pannel img {
    max-width: 168px;
    max-height: 168px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
    border: 1px solid #fff;
}
.thumbnail.product-pannel .price {
    text-align: center;
    width: 100%;
}
.thumbnail.product-pannel a:hover {
    background: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    opacity: 0.8;
}
.special-area label {
    font-size: 120%;
}
.special-area label .glyphicon-camera:before {
    font-size: 100%;
}
.special-area label .glyphicon-thumbs-up:before {
    font-size: 100%;
}
@media (min-width:768px){
.col-md-7 {
    width: 60.3333333333%;
}
.col-md-3 {
    width: 23%;
}
.header-menu a {
    margin-left: 10px;
}
navbar {
    padding-top: 10px;
}
.mobile-product .name, .mobile-product .category-label, .mobile-product .category, .mobile-product .company-label, .mobile-product .company {
    width: 50%;
    float: left;
}
.mobile-product .img {
    max-width: 20%;
    min-width: 198px;
    margin-right: 2%;
    float: left;
    text-align: center;
    position: relative;
    min-height: 198px;
}
.mobile-product .img img {
    max-width: 198px;
    min-height: 198px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
.mobile-product .max_price_label, .mobile-product .max_price, .mobile-product .remaining_time, .mobile-product .watch, .mobile-product .prompt_dicision_price_label, .mobile-product .prompt_dicision_price, .mobile-product .success_price_label, .mobile-product .success_price,.mobile-product .success_date {
    width: 20%;
    display: inline-block;
}
}
@media (max-width:767px){
.header-menu {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.header-menu a {
    display: inline-block;
    margin: 0 1%;
    width: 48%;
    font-size: 1.1rem;
}
.bid-banner-area {
    width: 90%;
    margin: 0 5%;
    padding-top: 15px;
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,1);
}
p.navbar-text.logout {
    display: none;
}
a.navbar-brand.omdc-logo img {
    width: 80%;
    margin: 0 10%;
    height: auto !important;
}
.button-center .btn {
    width: 100%;
}
a.btn.btn-default {
    white-space: normal;
    padding: 10px;
}
.td-under.right a.btn.btn-default {
    white-space: inherit;
}
.button-center:last-child {
    margin-bottom: 1.5em;
}
select.form-control.sort_select {
    margin-right: 0;
}
.btn-group.pull-right {
    margin-bottom: 0.5em;
    display: table;
}

.btn-search-save:nth-of-type(2n) {
    margin-right: 0;
}
.btn-search-save {
    width: 49.5%;
    margin-bottom: 0.5em;
    margin-right: 1%;
    margin-left: 0;
}
.search-bottons span {
    width: 100%;
    display: inline-block;
    margin-bottom: 0.5em;
    text-align: center;
}
.search-bottons a span {
    width: auto;
    display: unset;
    margin-bottom: 0;
    text-align: left;
}
span.glyphicon.glyphicon-sort {
    width: auto;
    display: unset;
    margin-bottom: 0;
    text-align: left;
}
iframe.machinelife_ads {
    max-width: 100%;
}
select.form-control.sort_select {
    padding: 0 15px;
    height: 42px;
}
.row:last-child {
    width: 100%;
    margin: 2em 0 0 0;
    padding: 0;
}
.col-md-5.trade-left {
    width: 100%;
}
.col-md-5.trade-left .col-md-5.col-sm-5 {
    width: 100%;
}
.col-md-5.trade-left .col-md-5.col-sm-5 img {
    width: 80%;
    height: auto;
    margin: 1em 0;
}
.thumbnail.product-pannel_02 {
    margin: 0 0.5% 6px 0.5%;
    width: 49%;
    min-height: 235px;
    height: auto;
}
.thumbnail.product-pannel_02 .bids, .thumbnail.product-pannel_02 .success_date {
    font-size: 1rem;
}
.toppage-news-area label.topppage-category-title {
    font-size: 18px;
    line-height: 1.5em;
}
.toppage-news-area label.topppage-category-title a.btn.btn-more {
    padding: 3px 6px;
    font-size: 1.2rem;
}
ui#footer_banners li {
    width: 80%;
    margin-right: 0;
    margin-bottom: 1rem;
    max-width: unset;
}
.mobile-product .img {
    width: 35%;
    float: left;
    text-align: center;
    position: relative;
    min-height: 115px;
    overflow: hidden;
}
.mobile-product .img img {
    max-width: 115px;
    min-height: 115px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
.mobile-product .name, .mobile-product .category-label, .mobile-product .category, .mobile-product .company-label, .mobile-product .company, .mobile-product .max_price_label, .mobile-product .max_price, .mobile-product .remaining_time, .mobile-product .watch,.mobile-product .prompt_dicision_price_label,.mobile-product .prompt_dicision_price,.mobile-product .success_price_label,.mobile-product .success_price,.mobile-product .success_date {
    width: 60%;
    float: right;
}
.mobile-product .name {
    font-size: 1.5rem;
}
}
@media (max-width:414px){
.thumbnail.product-pannel_02 {
    min-height: 255px;
}
.nitamono-title {
    margin-top: 130px;
}
.nitamono_target {
    left: 15px;
}
.nitamono-title .btn-content {
    margin-left: 0;
}
.thumbnail.product-pannel_02 .nitamono {
    bottom: 120px;
    right: 6px;
}
.thumbnail.product-pannel_02 .watch_02 {
    bottom: 82px;
    right: 6px;
}
}
@media (max-width:375px){
.thumbnail.product-pannel_02 {
    min-height: 235px;
}
.nitamono-title {
    margin-top: 130px;
}
.nitamono_target {
    left: 15px;
}
.nitamono-title .btn-content {
    margin-left: 0;
}
.thumbnail.product-pannel_02 .nitamono {
    bottom: 125px;
    right: 6px;
}
.thumbnail.product-pannel_02 .watch_02 {
    bottom: 87px;
    right: 6px;
}

}
@media (max-width:320px){
.thumbnail.product-pannel_02 {
    min-height: 210px;
}
.nitamono-title {
    margin-top: 130px;
}
.nitamono_target {
    left: 15px;
}
.nitamono-title .btn-content {
    margin-left: 0;
}
.thumbnail.product-pannel_02 .nitamono {
    bottom: 120px;
    right: 6px;
}
.thumbnail.product-pannel_02 .watch_02 {
    bottom: 82px;
    right: 6px;
}
}

/// @ohashi 20200807 end ///


.mobile-product {
  padding: 8px 0;

  .mobile-data-area {
    float: right;
    width: 62%;

    .name,
    .success_date {
      float: none;
      width: 100%;
    }
  }

  .category-label,
  .company-label,
  .max_price_label,
  .prompt_dicision_price_label,
  .success_price_label {
    width: 40%;
    float: left;
    clear: both;
    margin-bottom: 2px;
  }

  .prompt_dicision_price_label {
    font-size: 14px;
    padding: 1px 8px;
    background: #3b3;
    color: white;
    text-align: center;
  }


  .category,
  .company,
  .max_price,
  .prompt_dicision_price,
  .success_price {
    width: 60%;
    float: left;
    text-align: right;
  }

  .bids_count_label{
    display: inline-block;

    clear: both;
  }

  .bids_count {
    display: inline-block;
    margin: 0 16px 0 8px;
  }

  .remaining_time_label {
    display: inline-block;

  }

  .remaining_time {
    display: inline-block;
    margin: 0 0 0 8px;
    float: none;
    width: auto;
  }

  .mobile-button-area {
    clear: both;
    float: right;
    margin-top: 8px;
  }

  .lower-label {
    color: #999;
    font-size: 80%;
    font-weight: normal;
    text-align: right;
  }

  .prompt_dicision_price {
    font-size: 1.8rem;
  }

  .nitamono,
  .watch_02 {
    display: inline-block;
    text-align: right;
    margin-left: 16px;
  }
}


.td-under.right {
  .nitamono,
  .watch_02 {
    display: inline-block;
    text-align: right;
    margin-left: 16px;
  }
}
