/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-sass
 *= require devise_bootstrap_views
 *= require bootstrap-fileinput
 * require_tree .
 *= require_self
 */
// $icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
// @import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$main-color: #edc9ff;

.breadcrumb > li + li:before {
  content: "> ";
}

a:hover img {
  opacity: 0.6;
}
/// header ///
header {}

.navbar {
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding: 0 15px;
  background: #FFF;

  img {
    height: 50px;
  }
}

.navbar-text {
  display: inline-block;
  margin-left: 8px;
}
/// キーワード検索 ///
.search-area .input-group {
  width: 100%;
}

.header-menu {
  text-align: right;
  line-height: 32px;

  a {
    display: inline-block;
    padding: 0 4px;
    color: inherit;
  }

  .glyphicon {
    font-size: 20px;
  }
}

.search-bottons {
  margin: 8px 0;
}

.btn-search-save {
  width: 172px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.search-title {
  background: $main-color;
  padding: 6px 12px;
  margin-bottom: 8px;

  .count {
    margin-left: 16px;
    font-weight: bold;
  }
}

.searches-title {
  margin: 0;
  font-size: 23px;
  color: #5937ff;
  margin-bottom: 8px;
}

.banner-area {
  img {
    margin-top: 8px;
    max-width: 100%;
  }
}
/// footer ///
footer {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
}
/// ボタン ///
.btn-content {
  margin-left: 4px;
}

.btn {
  &.btn-square {
    width: 92px;
    height: 69px;
    text-align: center;
    padding: 11px 0;
    font-size: 12px;
    color: #2B8B04;
    border-radius: 0;
    display: inline-block;
    margin: 4px 4px 4px 0;
    vertical-align: top;

    &.btn-danger {
      color: #d9534f;
      background-color: #FFF;
      border-color: #ccc;
    }

    span.glyphicon {
      display: block;
      font-size: 28px;
      vertical-align: middle;
      margin-bottom: 5px;
    }

    &.btn-twoline {
      padding: 6px 0;
      line-height: 1.1;
    }

    .btn-content {
      margin-left: 0;
    }
  }

  &.btn-submit {
    display: block;
    margin: auto;
  }
}
/// 共通レイアウト ///
.main-container {
  margin: 0 8px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

label.required:after {
  content: "必須";
  color: #D00;
  vertical-align: top;
  font-size: 80%;
  font-weight: normal;
  margin-left: 10px;
}

.product-title {
  font-size: 25px;
  background: $main-color;
  padding: 6px;
  margin-top: 0;
}

.product-table {
  tr.img {
    width: 160px;
  }

  td.img {
    width: 160px;
    height: 120px;

    img {
      max-width: 160px;
      max-height: 120px;
    }
  }

  tr.img_mini {
    width: 100px;
  }

  td.img_mini {
    width: 100px;
    height: 75px;

    img {
      max-width: 100px;
      max-height: 75px;
    }
  }
}

.form-group,
table.form-table {
  input.short,
  select.short {
    width: 200px;
  }

  textarea {
    height: 120px;

    &.description {
      height: 300px;
    }
  }
}

table {
  td.price {
    width: 84px;
    text-align: right;
  }

  th.price {
    width: 84px;
  }

  td.total_price {
    width: 120px;
    text-align: right;
  }

  th.total_price {
    width: 120px;
  }

  td.num {
    width: 50px;
    text-align: right;
  }

  th.num {
    width: 55px;
  }

  .lower-label {
    color: #999;
    font-size: 80%;
    font-weight: normal;
    white-space: nowrap;
    position: absolute;
  }

  td.sns {
    width: 86px;

    a {
      color: #FFF;
      background: #A00;
      border-radius: 4px;
      padding: 2px;
      margin-bottom: 1px;
      width: 86px;
      display: block;
      text-align: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }

      &.facebook-button {
        background: #4266b2;
      }

      &.twitter-button {
        background: #1ea1f2;
      }

      &.line-button {
        background: #03b833;
      }
    }
  }

  th.sns {
    width: 90px;
  }

  td.sepa,
  th.sepa {
    border-right: 1px solid #ddd;
  }

  td.sep2,
  th.sep2 {
    border-right: 3px double #ddd;
  }
}

.default-black {
  color: #333;
}

.watch-star {
  color: #DD0;
}

.follow-heart {
  color: #D00;
}

.search-pushpin {
  color: #5937ff;
}

.alert-bell {
  color: #ffd700;
}

.check-icon {
  color: #000080;
}

.new-icon {
  color: #333;
  font-size: 11px;
  font-weight: normal;
  text-shadow:#ffd700 1px 1px 0, #ffd700 -1px -1px 0,
  /*右下、左上*/
  #ffd700 -1px 1px 0, #ffd700 1px -1px 0,
  /*右上、左下*/
  #ffd700 0px 1px 0, #ffd700 0-1px 0,
  /*右、左*/
  #ffd700 -1px 0 0, #ffd700 1px 0 0;
  /*上、下*/
  &:before {
    content: "NEW!";
  }
}

.fileinput-upload-button {
  display: none;
}

.form_img {
  display: inline-block;
  margin: 4px 16px;
}
/// トップページ ///
label.top-search {
  background: $main-color;
  padding: 0 8px;
}

.topsearch-area a {
  display: inline-block;
  margin-left: 12px;
}

.toppage-searches {
  .search-panel {
    width: 32%;
    height: auto;
    margin: 0 1% 1% 0;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    border-radius: 0;
    padding: 0;
    // background: #EEE;
    // border: 0;
    a {
      display: block;
      padding: 0;

      &:hover {
        background: #FFFFE0;
        text-decoration: none;
      }
    }

    .img {
      position: relative;

      .pos {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
      }

      img {
        position: absolute;
        // width: inherit;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: auto;
      }
    }

    .name {
      text-align: left;
      font-size: 16px;
      // font-weight: bold;
      padding: 2px;
      color: #333;
    }
  }
}

.toppage-contents {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 198px;
  padding: 8px;

  .toppage-scroll {
    white-space: nowrap;
    display: inline-block;
  }
  @media (max-width: 767px) {
    height: 180px;
    padding: 4px;
  }
}

.thumbnail.product-pannel {
  width: 172px;
  height: 172px;
  margin: 0;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 0;
  border: 0;

  a {
    display: block;
    padding: 4px;

    &:hover {
      background: #FFFFE0;
      text-decoration: none;
    }
  }

  img {
    max-width: 132px;
    max-height: 98px;
  }

  .name {
    height: 42px;
    overflow: hidden;
  }

  .price {
    color: #333;

    &:hover {
      color: #333;
    }
  }

  .max_price {
    font-size: 130%;
    margin-left: 2px;
  }

  .max_price_label {
    font-size: 70%;
  }
}
/// search ///
.header-image {
  margin-bottom: 4px;

  img {
    margin: auto;
    display: block;
    width: 100%;
  }
}

.form-inline .filter-price {
  width: 90%;
}
/// detail ///
#product-carousel {
  .item img {
    margin: auto;
  }
}

.carousel-select {
  margin: auto -1.5px;

  a img {
    margin: 1.5px;
    @media (max-width: 767px) {
      width: 31%;
      margin: 1%;
    }
  }
}


.product-dl,
.trade-dl {
  @media (max-width: 767px) {
    margin-bottom: 0;

    dt {
      margin-top: 8px;

      &.dt-first {
        margin-top: 0;
      }
    }
  }
  @media (min-width: 767px) {
    &.product-dl-border {
      border-left: 1px dotted #AAA;
    }
    width: 50%;
    padding: 4px;
    float: left;
    margin: 0;

    dt {
      width: 110px;
      margin-top: 0;
      margin-bottom: 4px;
    }

    dd {
      margin-left: 130px;
    }
  }
}

.trade-dl {
  width: 100%;

  &.product {
    dt {
      width: 50%;
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      float: left;
    }

    dd {
      width: 50%;
      text-align: right;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 50%;
    }
  }
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 8px;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.trade {
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 8px;

  &.mine {
    background: #CFC;
  }

  &.other {
    background: #ededec;
  }
}

.detail-company-area {
  div {
    line-height: 2;
  }
}

.detail-price-area {
  background-color: #ededec;
  margin-top: -15px;
}

.detail-price-message {
  margin: 16px 64px;
}

hr.detail-price-calc {
  margin: 8px 0;
  border-top: 1px dashed #BBB;
}

.detail-hashtags a {
  display: inline-block;
  background: #EEE;
  margin: 0 8px 8px 0;
  padding: 4px;
}

.product-description {
  background: $main-color;
  padding: 4px 8px;
  margin: 16px 0 4px;
}

.product-caution {
  color: #D00;
  margin-left: 15px;
  font-size: 15px;
}

.sns-area {
  a {
    color: #FFF;
    background: #A00;
    border-radius: 4px;
    padding: 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 90px;
    display: inline-block;
    text-align: center;

    img {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    &.facebook-button {
      background: #4266b2;
    }

    &.twitter-button {
      background: #1ea1f2;
    }

    &.line-button {
      background: #03b833;
    }
  }
}

.twitter-area {
  border: 1px solid #DDD;
}

.alert-message {
  background: #f2dede;
  padding: 4px 8px;
  margin: 8px;
}

.success-message {
  background: #dff0d8;
  padding: 4px 8px;
  margin: 8px;
}

.bid-message {
  background: #FFF;
  padding: 8px;
  margin: 8px;
  border: 1px solid #DDD;

  p {
    padding: 4px 8px;
    margin: 8px;
  }
}

.additional-label {
  font-size: 23px;
  color: #dc143c;
  margin-top: 23px;
}

.additional {
  color: #dc143c;
}
/// 会社情報 ///
.company-table {
  th {
    width: 132px;
  }
}
/// markdown(ヘルプ・お知らせ) ///
.markdown-area {
  margin: 12px 12px 32px;
  font-weight: normal;

  p {
    margin-bottom: 16px;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #707;
  }

  b,
  strong {
    font-size: 17px;
    color: #700;
  }

  li {
    margin-bottom: 4px;
  }

  table {
    td,
    th {
      width: auto;
      border: 1px solid #ddd;
      background: #FFF;
      padding: 3px;
    }

    th {
      background: #FF6600;
      color: #FFF;
    }

    tr:nth-child(even) td {
      background: #FFCC66;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 4px auto 32px auto;
    border: 1px solid #777;
  }
}
/// マイ・オークション ///
.follow-button-area {
  margin-top: 32px;
}

.nav-pills.nav-stacked {
  hr {
    margin: 4px 0;
  }
}
/// 取引 ///
.trade-product {
  margin-top: 0;
}

.trade-left {
  dl {
    margin-bottom: 0;
  }
}

.trade-button-area {
  margin: 16px 0 0;
  text-align: right;

  .btn {
    margin: 4px 0 0 4px;
  }
}
// .trade-user {
//   dt {
//     width: 90px;
//     text-align: right;
//     margin-bottom: 3px;
//   }
//
//   dd {
//     margin-left: 110px;
//   }
//
//   th {
//     width: 120px;
//     text-align: left;
//   }
// }
// .trade-product {
//   dt {
//     width: 100px;
//     text-align: left;
//   }
//
//   dd {
//     margin-left: 120px;
//     text-align: right;
//   }
// }

.star-good {
  color: #fcbc01;
}

.star-bad {
  color: #4da6ff;
}

.star {
  color: #f9c934;
}

td.absolute {
  position: relative;

  .td-under {
    position: absolute;
    bottom: 5px;

    &.right {
      right: 5px;
    }
  }
}

.inner-title {
  color: #777;
  margin-right: 8px;
}

dl.star-dl {
  dt {
    text-align: left;
    width: 120px;
  }

  dd {
    margin-left: 128px;
  }
}

.filtering-form {
  margin-bottom: 8px;

  input,
  select {
    margin-right: 4px;
  }
}
/// system ///
.system-log {
  padding: 3px 6px;

  &:nth-child(even) {
    background: #EEE;
  }

  &:nth-child(odd) {}
}

.max_price {
  color: #E50;
}

a.accordion-toggle {
  color: inherit;
  display: block;
  text-decoration: none;
  position: relative;

  & > span.glyphicon-chevron-down {
    display: block;
    position: absolute;
    top: 17px;
    right: 4px;
  }

  &.collapsed > span.glyphicon-chevron-down:before {
    content: "\e080";
  }
}

.button-center {
  margin: 6px auto;
  text-align: center;

  .btn {
    margin: 2px;
  }
}

.watches_count {
  font-size: 18px;
  margin: 0 2px;
  color: #E05;
}
