/ - title = ""
/ - title = "#{@keywords} #{title}"        if @keywords.present?
/ - title = "#{@category.name} #{title}"   if @category.present?
/ - title = "#{@company.company} #{title}" if @company.present?
/ - title.strip!
/
/ - title += " 落札相場" if @pms[:success] == "success"
/ - title += " 出品中"   if @pms[:success] == "start"

- title = "#{@product.name} に似ている商品"
/ /// タイトル ///
/ - set_meta_tags title: "#{@title.presence || (title + " 検索結果")}(#{@pproducts.current_page}/#{@pproducts.total_pages})"
/
/ /// 概要 ///
/ - desc = @description.presence || "#{title}の新品も中古も！ものづくりの現場で活躍する工具・機械を格安価格で安心安全な業者からオークションで購入！"
/ - set_meta_tags description: desc
/
/ /// Twitterカード ///
/ - set_meta_tags twitter: { card: "summary", site: "@mnok_official" }
/
/ /// OGP ///
/ - set_meta_tags og: { type: "article", title: (@title.presence || title), description: desc,  site_name: "ものづくりオークション" }
/
/ - if img = @pproducts.first.try(:product_images).try(:first)
/   - set_meta_tags twitter: { image: img.image.thumb.url }
/   - set_meta_tags og:      { image: img.image.view.url }
/
/ /// パンくず ///
/ - if @company.present?
/   - breadcrumb :company, @company
/ - elsif @category.present?
/   - breadcrumb :category, @category
/ - elsif @title.present?
/   - breadcrumb :something, @title
/ - else
/   - breadcrumb :search


.row
  .col-md-12
    = render "product_panel_02", product: @product, r: :src_pnl
    .search-title
      span.glyphicon.glyphicon-search
      span.btn-content = "#{@product.name} に似ている商品"
      span.count = "#{@products.count}"
      span = " 件"

    .products_area
      - @products.each do |pr|
        = render "product_panel_02", product: pr, r: :src_pnl

  / = render "/main/ads_frames", okw: @product.name
